# Pythonic files
*.pyc
.venv
.venv3

# IDE and text editors
.idea
*.swp
*.swo

# Development settings
settings_local.py

# Project folders
media/*
!media/404

# SQLite database
*.sqlite3

# JavaScript is my love
node_modules
static/bundles
webpack-stats.json
