.profile__container {
  padding-bottom: 40px;
  border-bottom: solid 1px @color-border-wrapper;

  &-avatar {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    float: left;
    border-right: solid 1px @color-border-wrapper;
    img {
      border-radius: 4px;
    }
  }
  &-form {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .wrong-login {
    img {
      width: 100%;
    }
  }
}
