<div class="auth-panel">
  <ul class="breadcrumb">
    <li><a href="#"> Авторизация </a> <span class="divider"></span></li>
  </ul>
  {% if user.is_authenticated %}
    Вы авторизованы как <strong>{{user.username}}</strong>

    <div class="col-sm-12">
      {% csrf_token %}
      <button class="btn btn-default" style="margin-top:20px;" id="logOut">
        Выйти
      </button>
    </div>
  {% else %}
  <form class="form-horizontal" id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <div class="form-group">
      <label> Логин: </label>
      <input class="form-control" name="login" type="text" placeholder="Император">
    </div>
    <div class="form-group">
      <label> Пароль: </label>
        <input class="form-control" name="password" type="password" placeholder="Космонавтика">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
  </form>
  {% endif %}
</div>
