<div class="auth-panel">
  <ul class="breadcrumb">
    <li><a href="#"> Авторизация </a> <span class="divider"></span></li>
  </ul>
  <form class="form-horizontal" id="login-form">
    {% csrf_token %}
    <div class="form-group">
      <label> Логин: </label>
      <input class="form-control" name="login" type="text" placeholder="Император">
    </div>
    <div class="form-group">
      <label> Пароль: </label>
        <input class="form-control" name="password" type="password" placeholder="Космонавтика">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
  </form>
</div>
