{% extends "base.html" %}


    {% block content %}

            <div class="carousel slide" id="carousel-136312">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel-136312">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-136312" class="active">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-136312">
                    </li>
                </ol>
                <div class="carousel-inner">
                {% for Elems in Elements|slice:"1" %}
                    <div class="item active">
                        <img alt="Carousel Bootstrap Second" src="{{ Elems.image.url }}">

                        <div class="carousel-caption">
                                <h4>
                                    {{ Elems.description }}

                                </h4>

                                <a href="{{ Elems.caruse.get_absolute_url }}" class="titleref">  {{ Elems.content }}</a>

                            </div>
                    </div>
                {%  endfor %}
                    {% for Elems in Elements %}
                        <div class="item">
                            <img class="img-rounded" alt="Carousel Bootstrap Third" src="{{ Elems.image.url }}">

                            <div class="carousel-caption">
                                <h4>
                                    {{ Elems.description }}

                                </h4>

                                <a href="{{ Elems.caruse.get_absolute_url }}" class="titleref">  {{ Elems.content }}</a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-136312" data-slide="prev"><span
                        class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                                href="#carousel-136312"
                                                                                data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

{% endblock %}


