{% extends "base.html" %}

{% block content %}
<div class="reglament">
<h1>АССОЦИАЦИЯ ДВОРОВОГО ФУТБОЛА г. САРАТОВА</h1>
<h2>Регламент (новая редакция)</h2>
<h4>Саратов, 2017</h4>

<div class="chapter">Термины и понятия</div>
<ul>
<li><span class="definition">Ассоциация Дворового Футбола города Саратова, сокращенно АДФС</span> — добровольное
объединение лиц, принимающих активное или пассивное участие в турнирах по
дворовому футболу под эгидой Ассоциации.</li>
<li><span class="definition">Активное участие</span> — выступление в качестве игрока за ту или иную команду,
представление интересов команды в качестве официального представителя,
представление собственной точки зрения на те или иные ситуации в активной форме
путем оставления сообщений в печатной (письменной) форме.</li>
<li><span class="definition">Пассивное участие</span> — наблюдение, волеизъявление путем участия в опросах
(голосованиях).</li>
<li><span class="definition">Страница АДФС в сети Интернет</span> — <a href="https://vk.com/sarfootball">https://vk.com/sarfootball</a>.</li>
<li><span class="definition">Руководство Ассоциации (Администрация)</span> — исполнительный орган, осуществляющий
управление Ассоциацией, наделенный организационно-распорядительными функциями,
в чьи обязанности входит организация и проведение турниров, содержание страницы
Ассоциации в соцсети vk.com, разрешение спорных ситуаций.</li>
<li><span class="definition">Игрок</span> — лицо, заявленное за ту или иную команду-участницу турнира, проводимого под
эгидой АДФС.</li>
<li><span class="definition">Команда</span> — объединение игроков, в качестве обязательного признака имеющее единое
название и представителя — капитана, в качестве дополнительных признаков имеющее
отличительный знак — герб (логотип, эмблема), игровую форму одинаковых цветов.</li>
<li><span class="definition">Капитан</span> — первый представитель команды, лицо, указанное в качестве такового в
заявочном листе команды.</li>
<li><span class="definition">Представитель</span> — помимо капитана, лицо, указанное в качестве второго представителя в
заявочном листе команды, в иных случаях — лицо, ведущее переговоры с
представителями и игроками других команд, выражающее мнение от имени команды,
впоследствии не оспоренное командой.</li>
<li><span class="definition">Чемпионат</span> — регулярный турнир Ассоациации, проводимый в двух дивизионах —
Высшей и Первой лигах, в один или два круга, в один или два этапа, стартующий в апреле
и завершающийся в октябре-ноябре.</li>
<li><span class="definition">Кубок</span> — турнир, проводимый параллельно с чемпионатом по системе «игры навылет»,
право на участие в котором автоматически получают команды-участницы чемпионата, а
также любые другие команды, подавшие заявку на участие в турнире.</li>
<li><span class="definition">Зимний Кубок</span> — турнир, проводимый в межсезонье, проводимый в комбинированном
формате: участники игр навылет определяются по результатам группового этапа.</li>
<li><span class="definition">Судья</span> — лицо, назначенное Администрацией или приглашенное командами,
обеспечивающее соблюдение правил игры в матче.</li>
<li><span class="definition">Площадка</span> — место проведения матча, соответствующее установленным требованиям.</li>
<li><span class="definition">Задвоенный игрок</span> — игрок, указанный в заявках двух и более команд.</li>
<li><span class="definition">Свободный игрок</span> — лицо без команды, имеющее право быть заявленным за любую из
команд при наличии у команды права на включение в состав свободного игрока.</li>
<li><span class="definition">Незаявленный игрок</span> — игрок, не включенный в заявку команды, участие которого в
матче может повлечь применений санкций к привлекшей его команде, в отдельных
случаях, и к нему.</li>
<li><span class="definition">Отстраненный игрок</span> — игрок, подвергнутый к дисциплинарным санкциям за нарушение
правил и не имеющий права принимать участие в играх до истечения определенного
срока или наступления конкретного события.</li>
<li><span class="definition">Трансферное окно</span> — специально отведенный период во время проведения чемпионата,
в течение которого разрешены переходы игроков из команды в команду в пределах
установленного лимита, а также регистрация свободных игроков в пределах
установленного лимита. </li>
<li><span class="definition">Дозаявка</span> — регистрация свободного игрока.</li>
<li><span class="definition">Отзаявка</span> — исключение из заявки игрока.</li>
<li><span class="definition">Юрьев день</span> — специально отведенный день по время проведения чемпионата вне
рамок трансферного окна, в течение каждая команда вправе совершить один трансфер —
входящий, исходящий.</li>
<li><span class="definition">Финансы</span> — денежные средства, необходимые для организации турниров, включающие
в себя:
<ul>
<li><span class="definition">Организационный взнос</span> — денежные средства, внесенные командой, идущие на
приобретение наградной атрибутики, аренду поля на финальный матч Кубка, оплату услуг
судей и прочие организационные расходы, не подлежащие возврату;</li>
<li><span class="definition">Гарантийный взнос</span> — денежные средства, внесенные командой в качестве
обеспечения своего участия в чемпионате и (или) Кубке, подлежащие возврату по
окончании турнира в случае соблюдения определенных условий.</li></ul></li>
</ul>
<div class="chapter">Глава 1. Основные положения.</div>
<div class="chapter-content">
  1.1 Данный регламент является основополагающим документом, регулирующим отношения
  между игроками, командами и руководством Ассоциации (Администрацией).<br>
  1.2 Принимая участие в первенстве, Кубке, Зимнем кубке АДФС, либо в другом турнире,
  проводимом под эгидой Ассоциации, команда выражает своё согласие с правилами
  регламента.<br>
  1.3 Изменение правил регламента, а ровно как и всей политики АДФС возможно только при
  согласии 2/3 руководства Ассоциации. Если руководство Ассоциацией осуществляется
  единственным человеком, изменение правил регламента производится единолично.<br>
  1.4 Регламент не имеет обратной силы. Спорный вопрос не может разрешаться согласно
  правилам, которые были установлены после возникновения конфликта.<br>
</div>
<div class="chapter">Глава 2. Обязанности и права команд, игроков и руководства Ассоциации.</div>
<div class="chapter-content">
  2.1 Команда обязана прибыть на матч в соответствие с датой, указанной в календаре
  турнира, а также согласно договорённости с соперником.<br>
  2.2 Команда, являющаяся хозяином поля (хозяйская команда, команда хозяев), обязана
  выбрать самостоятельно время и день проведения матча, а также предоставить свою
  домашнюю площадку.<br>
  2.3. Хозяйская команда обязана уведомить гостевую команду о дате, месте и времени очного
  календарного матча не менее чем за 48 часов до матча, в противном случае гостевая
  команда вправе отклонить предложение хозяйской команды. Информирование гостевой
  команды должно производиться через стену группы АДФС, посредством отправки личного
  сообщения представителю команды-соперника в vk.com или sms-сообщения.<br>
  2.4. В случае поступления уведомления хозяйской команды о дате, месте и времени очного
  календарного матча менее чем за 48 часов до матча и последующего отклонения гостевой
  команды, хозяйская команда сохраняет за собой право в императивном порядке направить
  гостевой команде повторное уведомление о дате, месте и времени проведения очного
  календарного матча в следующие выходные или в ближайший игровой день.<br>
  2.5. В случае отсутствия повторного уведомления хозяйской команды гостевой команде в
  порядке, предусмотренном п. 2.4., или же направления повторного уведомления менее чем
  за 48 часов до матча право в императивном порядке назначить дату, место и время очного
  календарного матча переходит гостевой команде, воспользоваться которым она обязана не
  позднее следующих выходных.<br>
  2.6. Если гостевая команда не воспользуется перешедшим к ней правом императивного
  назначения даты, места и время очного календарного матча в установленные сроки,
  согласно п. 2.5., указанное право остается за той командой, которая раньше направит другой
  команде уведомление о дате, месте и времени проведения очного календарного матча.<br>
  2.7. В случае направления предложения о дате, месте и времени очного календарного матча
  от любой стороны и согласия другой стороны с данным предложением, п. 2.3 — 2.6. не
  действуют. Время и место проведения матча считается согласованным. Ни одна из команд не
  вправе отказаться от проведения матча.<br>
  2.8. При достижении договоренности о времени и месте проведения матча представитель
  одной из команд обязан оставить информацию о времени и месте проведения матча в
  специальной теме «запланированные матчи» в группе Ассоциации в vk.com. минимум за 3
  часа до матча. Данное действие производится также и при отсутствии совместной
  договоренности, но с соблюдением принципа «между уведомлением о матче и временем
  начала матча — не менее 48 часов».<br>
  2.9. Не соблюдение правила, установленного п. 2.7., является основанием для признания
  результата сыгранного матча недействительным с наложением на команды обязанности по
  переигровке матча, при этом командам дается 7 календарных дней на проведение матча.
  Если же команды так и не сыграют матч, Администрация в принудительном порядке
  назначает время и место проведения матча.<br>
  2.10. Команды вправе по взаимному соглашению провести матч турнира с отклонением не
  более чем на месяц от даты, указанной в календаре турнира, если иное не предусмотрено
  правилами данного соревнования. В случае отсутствия результата матча по истечении
  месячного срока или же при возникновении непреодолимых противоречий между
  командами по поводу проведения матча в течение месячного срока со дня календарной
  даты матча, Администрация в принудительном порядке назначает время и место
  проведения матча.<br>
  2.11. Не допускается наличие свыше пяти несыгранных в календарные сроки матчей. При
  превышении указанного лимита Администрация в принудительном порядке назначает
  время и место проведения матча, имеющего наиболее раннюю календарную дату.<br>
  2.12. Установленный лимит на несыгранные матчи, предусмотренный п. 2.10., может быть
  скорректирован локальным актом Администрации, при этом корректировка возможна лишь
  до старта чемпионата. В случае проведения чемпионата в два этапа, лимит на несыгранные
  матчи устанавливается в информационной карте перед стартом каждого из этапов.<br>
  2.13. На хозяев площадки возлагается обязанность организации матча. Хозяева обязаны
  предоставить мяч для игры. Рекомендуется использовать мини-футбольный мяч (размер 4)
  для игры на площадках с асфальтовым, резиновым (синтетическим), газонным покрытием.<br>
  2.14. В случае приведения в негодность во время матча мяча и отсутствия резервного
  игрового снаряда матч подлежит доигровке в течение 24-х часов или в любой другой день по
  соглашению команд. В случае отсутствия компромисса между командами по поводу даты и
  времени проведения матча Администрация принудительно назначает время и место
  проведения матча.<br>
  2.15. В случае предоставления хозяевами для игры мяча размера «5» гости вправе отказаться
  от проведения матча. При этом активируется п. 2.14. по поводу переигровки.<br>
  2.16. В случае непредоставления хозяевами мяча для проведения матча и отсутствия
  предварительной договоренности о предоставлении мяча гостями гостевая команда вправе
  поставить техническое поражение хозяйской команде.<br>
  2.17. Хозяева обязаны следить за игровым временем матча. Решение о добавленном
  времени принимается совместно капитанами команд.<br>
  2.18. Команды обязаны вести себя по-спортивному, соблюдать принципы
  <a href="https://ru.wikipedia.org/wiki/%D0%A4%D0%B5%D0%B9%D1%80-%D0%BF%D0%BB%D0%B5%D0%B9">Fair Play.</a><br>
  2.19. Команда вправе в одностороннем порядке запросить судью на матч. При наличии
  судьи, все игроки находятся под его юрисдикцией. Любое решение судьи считается верным и
  не может быть оспорено.<br>
  2.20. Представители команд обязаны исполнить финансовые обязательства перед
  Администрацией до старта чемпионата, а именно: внести денежные средства на
  приобретение наградной атрибутики и прочие организационные нужды, а также
  гарантийный взнос, подлежащий возврату по окончании чемпионата при соблюдении
  определенных условий, устанавливаемых в информационных картах. Размер, порядок и
  сроки внесения денежных средств также устанавливаются в информационных картах.<br>
  2.21. Команда подает заявку на участие в чемпионате или Кубковом турнире по образцу,
  представленном Администрацией в группе АДФС в vk.com. В заявке указываются название
  команды, название партнерской команды (фарм-клуб); имя и фамилия 1-го (капитан) и 2-го
  представителя команды с указанием контактных телефонов; имя и фамилия игрока;
  фотография каждого игрока в формате «только лицо, плечи, грудь».<br>
  2.22. Команда обязана подавать статистические сведения после каждого сыгранного матча,
  содержащие следующую информацию: точный счет матча, перечень всех игроков,
  принявших участие в матче, авторов забитых голов. Сведения подаются в течение 48 часов
  после проведения матча в специальную тему в группе АДФС в vk.com.<br>
  2.23. Руководство Ассоциации обязано своевременно заполнять и предоставлять статистику
  и расписание активных турниров.<br>
  2.24. Руководство Ассоциации обязано своевременно рассматривать апелляции команд об
  организации турнира, проведения матча либо о прочих фактах нарушения правил данного
  регламента. Апелляция подаётся в срок не позднее суток с момента возникновения либо
  обнаружения спорной ситуации. Апелляции, поданные позднее, не рассматриваются
  руководством. Апелляция (жалоба) на ситуацию, рассмотрение которой может повлиять на
  пересмотр результата сыгранного матча, подается не позднее 24-х часов с момента начала
  спорного матча. При этом временем начала матча считается время, указанное в теме
  «запланированные матчи» в группе АДФС в vk.com.<br>
  2.25. Руководство Ассоциации по своему усмотрению осуществляет инспектирование
  отдельных матчей чемпионата и Кубковых турниров и в случае выявления в составе той или
  иной команды незаявленного или отстраненного игрока (игроков) принимает меры по
  недопущению задействования такого игрока (игроков) в матче. Ссылка команды на
  получение согласия от соперника о возможности задействования в матче незаявленного или
  отстраненного игрока не допускается.<br>
</div>
<div class="chapter">Глава 3. Основные положения об игроках и командах.</div>
<div class="chapter-content">
  3.1. Команда считается участником АДФС, если она выступает в турнирах, проводимых под
  эгидой Ассоциации.<br>
  3.2. Участие в Ассоциации прочих команд не возбраняется. Любые коллективы могут
  использовать Ассоциацию для поиска соперников на товарищеские матчи.<br>
  3.3. Принимать участие в турнирах могут игроки любого возраста и уровня игры в футбол.
  Количество игроков в заявке на турнир ограничено конкретным числом, устанавливаемым в
  информационной карте.<br>
  3.4. Смена игроком команды не является свободной. Игрок вправе сменить свою команду
  только в период трансферного окна, Юрьева дня или в межсезонье. Смена игроком команды
  в иных случаях предусмотрена п. 3.9.<br>
  3.5. Команда в течение турнира вправе дозаявить не более пяти свободных (незаявленных
  ни за одну команду Ассоциации в текущем сезоне) игроков, если иное не обговорено
  информационной картой.<br>
  3.6. Заявка игрока в команде Ассоциации считается действительной, если игрок был
  своевременно уведомлён капитаном команды о его заявке и дал своё согласие на участие в
  турнире, а также в случае истечения 2-х месяцев со старта чемпионата.<br>
  3.7. Игрок может играть только за одну комаду в турнире. Заявка игрока в команде
  Ассоциации считается недействительной, если игрок уже был предварительно заявлен за
  другую команду Ассоциации и не уведомил капитана предыдущей команды либо
  руководство АДФС о своей отзаявке.<br>
  3.7.1. В случае указания одного и того же игрока в двух и более заявках он считается
  заявленным за ту команду, которая докажет факт получения согласия игрока на участие в
  турнире в ее составе.<br>
  3.7.2. В случае если игрок дал свое согласие на участие в турнире в составах двух и более
  команд, команды обязаны выяснить окончательное волеизъявление игрока, в противном
  случае Администрация по ходатайству капитана или второго представителя одной из команд
  спрашивает у игрока, за состав какой команды считать его заявленным.<br>
  3.7.3. В случае указания одного и того же игрока в двух и более заявках игрок считается
  заявленным за ту команду, в составе которой он раньше примет участие в матче чемпионата
  (или Кубка), при отсутствии проведения процедуры, установленной пунктом 3.7.2.<br>
  3.8. Команда может отзаявить игрока в любое время, а равно сам игрок может в
  одностороннем порядке отзаявиться, однако статус свободного игрока с возможностью
  перехода в другую команду он приобретает лишь в период действия специальных
  временных интервалов: межсезонье, трансферное окно, Юрьев день.<br>
  3.9. В случае снятия команды с чемпионата и отсутствия финансовых обязательств игроки
  снявшейся команды вправе перейти в любую другую команду, при этом в одну команду
  может перейти не более 5-ти игроков из снявшейся команды. Исключение: переход в
  партнерскую команду (<см. раздел 3.1.)<br>
  3.10. Представители команд обязаны до матча определить цветовую гамму своих
  коллективов во избежание неудобств во время игры.<br>
  3.11. Запрещено играть в шипованных бутсах, предназначенных для игры в футбол на
  газонном покрытии, за исключением т. н. «сороконожек».<br>
</div>
<div class="chapter">Глава 3.1. Положение о фарм-клубах.</div>
<div class="chapter-content">
3.1.1. Фарм-клуб является командой, вновь созданной командой высшей лиги АДФС (далее
— главная команда) или созданной на базе уже существующей команды-участницы
чемпионата первой лиги АДФС.<br>
3.1.2. Создание фарм-клуба возможно в любое время, но к участию в чемпионате
допускается лишь тот фарм-клуб, который был создан не позднее чем три дня до начала
чемпионата.<br>
3.1.3. Название фарм-клуба не обязательно должно содержать составные части названия
главной команды, в случае дублирования названия главной команды в названии фарм-клуба
обязательно должна быть приставка «-2» или «-Б».<br>
3.1.4. Фарм-клуб принимает участие в чемпионате первой лиги АДФС со всеми правами и
обязанностями, предусмотренными за прочими командами, с некоторыми особенностями.<br>
3.1.5. Фарм-клуб вправе привлекать для участия в календарном матче чемпионата до 3-х
игроков из главной команды.<br>
3.1.6. Главная команда вправе привлекать для участия в календарном матче чемпионата до
3-х игроков из фарм-клуба.<br>
3.1.7. При двухэтапной системе проведения турнира во втором этапе фарм-клуб вправе
привлекать на свой матч из главной команды только одного игрока.
Главная команда вправе привлекать на свой матч из фарм-клуба не более 3-х игроков<br>
3.1.8. В случае завоевания по результатам чемпионата права участвовать в Высшей лиге на
следующий сезон фарм-клуб утрачивает статус фарм-клуба.<br>
3.1.9. В случае досрочного снятия с чемпионата главной команды фарм-клуб вправе вне
трансферного окна заявить в свой состав не более 3-х игроков снявшейся команды.<br>
3.1.10. В случае досрочного снятия с чемпионата фарм-клуба главная команда вправе вне
трансферного окна заявить в свой состав не более 3-х игроков снявшейся команды.
</div>
<div class="chapter">Глава 4. Положение о матчах, проводимых под эгидой Ассоциации.</div>
<div class="chapter-content">
  4.1 Все матчи в турнирах, проводимых под эгидой АДФС, играются согласно правилам игры
  АДФС, если иное не обговорено отдельно, в правилах проведения турнира.<br>
  4.1.1. Команда вправе запросить судейство на матч. В случае удовлетворения данного
  запроса Администрация направляет судью, который перед началом матча обговаривает с
  командами формат судейства.<br>
  4.1.2. В случае необходимости команда, запрашивающая судейство, должна взять на себя
  расходы на оплату услуг судьи по ставке, имеющей следующий рекомендованный размер —
  200 рублей.<br>
  4.1.3. В случае прибытия судьи на матч, согласно заявке команды, и отказа запросившей
  судейство команды оплатить услуги судьи Администрация выносит команде предписание
  исполнить обязательство по оплате в течение 3-х дней. В случае неисполнения командой
  указанного предписания к ней применяются санкции, предусмотренные п.п. 10.1.1, 10.1.5.<br>
  4.1.4. Если матч между командами завершится скандалом, в ответной игре между ними
  расходы на судейство возлагаются на обе команды в равных долях.<br>
  4.1.5. Давление на судью до, во время и по окончании матча не допускается. Физическое
  насилие над судьей грозит дисквалификацией нарушителя (нарушителей). В случае
  физического насилия со стороны более двух лиц Администрация ставит вопрос о
  дисквалификации всей команды до конца сезона.<br>
  4.2 Матч играется при любой погоде, за исключением особых её состояний, способных
  причить ущерб жизни и здоровью игроков. Все такие состояния перечислены ниже в этом
  пункте. Гроза, наличие осадков в виде града, ураган, скорость ветра выше 20 м/с.<br>
  4.3 При температуре воздуха выше 35 градусов команда в одностороннем порядке имеет
  право затребовать дополнительный перерыв, длительностью не более двух минут.<br>
  4.4 В матчах имеют право принимать участие любые игроки команды, находящиеся в заявке,
  но при этом не отстранённые от игры согласно главе 10 настоящего регламента.<br>
  4.5. Хронометраж матча:<br>
  4.5.1. Минимальная регламентарная продолжительность матча — 50 минут (грязного
  времени).<br>
  4.5.2. Максимальная регламентарная продолжительность матча — 60 минут (грязного
  времени).<br>
  4.5.3. Хозяева матча вправе определить продолжительность матча в интервале от 50 до 60
  минут, при этом заранее оповестив гостей о хронометраже.<br>
  4.5.4. Гости вправе настоять на хронометраже в 50 минут в случае прибытия на игру в составе
  5-ти игроков (не более). В таком случае хозяева не вправе им отказать.<br>
  4.5.5. По согласованию между командами возможно уменьшение хронометража матча до 40
  минут, а равно увеличение хронометража до 70 минут.<br>
  4.5.6. Хронометраж матча при его проведении на «Легенда-Арена» (Пензенская, 33) должен
  составлять не менее 60 минут.<br>
  4.5.7. Пункт 4.5.6. утрачивает свою силу в случае проведения ремонта ограждения площадки.<br>
  4.5.8. Матч (тайм) не может быть окончен до выхода мяча за пределы игрового поля.
  Исключение: сигнал со стороны представителя спортивной площадки (зала) об окончании
  аренды. В случае ухода мяча на угловой на последней секунде матча (тайма), команда
  вправе разыграть стандартное положение.<br>
  4.5.9. В случае проведения кубкового матча на арендованной площадке и установлении
  ничейного результата за 5 минут до конца арендного времени команды обязаны остановить
  игру и перейти к исполнению послематчевых пенальти.<br>
  4.5.10. За месяц до окончания чемпионата (круга, этапа) команды, получившие
  соответствующие уведомления от Администрации, обязаны сфотографироваться перед, в
  перерыве или сразу после окончания матча (т.е. на одном фото должны быть запечатлены
  две команды). В качестве альтернативы допускается создание видео-ролика с матча
  продолжительностью не менее 2-х минут.<br>
  4.5.11. Обязанность по фотографированию, процедура которой указана в п. 4.5.10, может
  быть возложена на команды в иные периоды, согласно информационной карте.
</div>
<div class="chapter">Глава 5. Положения о полях и площадках для проведения матчей АДФС.</div>
<div class="chapter-content">
  5.1 Матч может быть проведён на любой площадке в пределах Саратова, если она
  удовлетворяет всем критериям этой главы. Возможно проведение матчей в закрытых
  помещениях и на стадионах. По совместной договорённости команд матч может быть
  проведён за пределами Саратова.<br>
  5.2 Футбольная площадка должна быть чистой. Не допускается наличие мусора как на
  игровом поле, так и на прилегающей к нему территории. На футбольной площадке не
  допускается наличие посторонних предметов и конструкций, создающих неудобства для
  игры.<br>
  5.3 Минимальные размеры площадки 13 метров в ширину, 25 метров в длину.
  Максимальные 22 метра в ширину, 42 метров в длину. Минимальная высота ворот 190 см,
  максимальная 220 см. Ширина ворот — стандартные 300 см.
  5.4 Ворота должны быть сделаны из материала, неподверженного разрушению в процессе
  игры.<br>
  5.5 Покрытие может быть асфальтовым, травяным, земляным, синтетическим или
  паркетным. Основное требование к покрытию: поле должно быть однородным по покрытию,
  т.е. либо чисто асфальтным, либо чисто синтетическим, либо чисто земляным и т.д.
  Допускаются небольшие вкрапления иного покрытия (до 5-10%), существенно не влияющих
  на игру. Покрытие должно быть приемлемым для игры.<br>
  5.6 Границы игровой площадки должны быть каким-либо образом выделены. Допускается
  отсутствие прочей разметки на площадке.<br>
  5.7. Матч должен быть проведен при наличии освещения: естественного или искусственного.<br>
  5.8. Матчи проводятся на площадках, пригодных для проведения игр. Основные требования
  к площадкам установлены регламентом. Первичный список аккредитованных площадок
  выглядит сл.образом: "Агресс-Арена", "Звездный", "Олимп", "36 Лицей", "Ильинка",
  "Легенда-Арена", "11 школа", "Салют" (резин.поле), "Молодость", "Школа № 1".
  5.9. Перечень аккредитованных площадок открыт. Если к-л желает пополнить данный список
  очередной площадкой, пусть подает заявку о включении новой площадки в список
  аккредитованных площадок. Статус аккредитованной площадки позволяет принимающей
  команде не опасаться жалоб со стороны гостевой команды по качеству площадки.<br>
  5.10. Отсутствие у площадки аккредитации не препятствует проведению матчей на ней.<br>
  5.11. В чемпионате гостевая команда вправе отказаться оплачивать аренду площадки в долях
  с принимающей командой, в то же время при готовности принимающей команды взять на
  себя 100 % оплату аренды площадки гостевая команда обязана принять предложение
  сыграть матч.
  Данное правило не действует лишь в отношении площадок, стоимость аренды которых не
  превышает 550 рублей. Предписание: обе команды оплачивают площадку в равных долях.<br>
</div>
<div class="chapter">Глава 6. Высшая лига Ассоциации.</div>
<div class="chapter-content">
  6.1 Высшая лига, наряду с кубком АДФС и Зимним кубком, считается главным
  соревнованием Ассоциации. Победитель высшей лиги официально признаётся чемпионом
  АДФС текущего года.<br>
  6.2 Право выступления в высшей лиге предоставляется командам, занявшим определенные
  места по итогам чемпионата в Первой лиге, а также победителю стыкового матча, в случае
  его проведения. Количество проходных мест (путевок) в Высшую лигу устанавливается в
  информационной карте.<br>
  6.3. В случае недобора участников руководство АДФС вправе пригласить некоторые
  коллективы АДФС к выступлению в высшей лиге. Выбор таких коллективов должен быть
  публично аргументирован руководством.<br>
  6.4. Предоставление wild card на участие в Высшей лиге команде, не принимавшей участие в
  предыдущем розыгрыше Первой лиги, возможно лишь в случае поочередного отказа от
  предложения автоматического повышения в классе максимум трех команд Первой лиги,
  занявших места после команды, получившей последнюю путевку в Высшую лигу по итогам
  чемпионата.<br>
  6.5. В высшей лиге могут принимать участие от 10 до 18 команд ассоциации. Турнир
  проходит по двухкруговой системе.<br>
  6.6. Сроки трансферного окна устанавливаются информационной картой. Трансферное окно
  для высшей и первой лиг считается единым.<br>
  6.7. При наличии свыше пяти и более технических поражений/пяти и более несыгранных
  матчей/технических поражений и несыгранных матчей в сумме свыше пяти Администрация
  ставит вопрос о принудительном снятии команды с чемпионата.<br>
  6.8. В случае невыхода команды на связь с к-л из иных участников чемпионата/Кубка и (или)
  с Администрацией сроком более 2-х недель Администрация ставит вопрос о
  принудительном снятии команды с чемпионата.
</div>
<div class="chapter">Глава 6.1. «Определение мест команд при равенстве очков».</div>
<div class="chapter-content">
  6.1.1. При равенстве очков у 2-х и более команда в расчет принимаются следующие
  дополнительные показатели (в порядке приоритетности):
  результаты игр между собой — очки;
  результаты игр между собой — разность мячей;
  общая разница мячей;
  количество мячей, забитых во всех играх.<br>
  6.1.2. При абсолютном равенстве команд по всем дополнительным показателям назначается
  стыковой матч, по результатам которого определяются итоговые места команд.<br>
  6.1.3. В случае если абсолютное равенство по дополнительным показателям имеется у более
  чем двух команд — назначаются стыковые матчи по системе «каждый с каждым».<br>
  6.1.4. Формат проведения стыкового матча: 2 тайма по 25 минут. В случае ничейного исхода
  назначается серия послематчевых пенальти.<br>
  6.1.5. Раздел 6.1. действует как для Высшей, так и для Первой лиг.<br>
</div>
<div class="chapter">Глава 7. Первая лига Ассоциациии.</div>
<div class="chapter-content">
  7.1 Первая лига считается вторым по значимости турниром АДФС.<br>
  7.2 В первой лиге могут участвовать любые коллективы, не заявленные в Высшую лигу
  Ассоциации.<br>
  7.3 Число участников в первой лиге не ограниченно.<br>
  7.4. Перед стартом чемпионата Администрация выбирает один из трех форматов проведения
  турнира, в зависимости от количества участников:<br>
  7.4.1. Регулярный чемпионат по двухкруговой системе.<br>
  7.4.2. Регулярный чемпионат по двухкруговой системе с разбивкой команд на две группы,
  победитель каждой из которых считается победителем Первой лиги АДФС.<br>
  7.4.3. Регулярный чемпионат в два этапа:<br>
  I этап: регулярный чемпионат в одной или двух группах по двухкруговой системе.
  II этап: регулярный чемпионат в двух группах. Первая группа — Элитная, в состав которой
  входят лучшие команды I этапа, количество которых регламентируется в информационной
  карте; Вторая группа — Утешительная, в состав которой входят остальные команды.
  Победитель I этапа получает право на гарантированный стыковой матч за выход в Высшую
  лигу с командой, занявшей низшее место, позволяющее пройти в Высшую лигу по итогам
  «Элитного этапа», в случае, если сам не войдет в необходимый топ-лист. Если же I этап
  проводится в двух группах и оба победителя групп не войдут в необходимый топ-лист по
  итогам «Элитного этапа», право на гарантированный стыковой матч приобретает только одна
  команда - та, которая заняла более высокое место за пределами необходимого топ-листа.<br>
  7.5. При наличии свыше пяти и более технических поражений/пяти и более несыгранных
  матчей/технических поражений и несыгранных матчей в сумме свыше пяти Администрация
  ставит вопрос о принудительном снятии команды с чемпионата.<br>
  7.6. В случае невыхода команды на связь с к-л из иных участников чемпионата/Кубка и (или)
  с Администрацией сроком более 2-х недель Администрация ставит вопрос о
  принудительном снятии команды с чемпионата.<br>
  7.7. Победитель Первой лиги АДФС получает право на участие в чемпионате Высшей лиги на
  следующий сезон. Количество остальных путевок в Высшую лигу по результатам чемпионата
  в Первой лиге определяется Администрацией перед стартом турнира и указывается в
  локальном акте.<br>
</div>
<div class="chapter">Глава 8. Кубок Ассоциации.</div>
<div class="chapter-content">
  8.1 Кубок АДФС считается наряду с Высшей лигой и Зимним Кубком первым по значимости
  турниром АДФС.<br>
  8.2. В связи с тем, что основная масса матчей данного турнира приходится на лето и осень,
  допускается использовать наименование «летне-осенний Кубок» в целях разграничения с
  другим кубковым турниром Ассоциации — Зимним Кубком.<br>
  8.3. Право принять участие в Кубке АДФС имеют любые команды — участники Высшей или
  Первой лиги, а также команды, не участвующие в чемпионате АДФС.<br>
  8.4. Кубок проводится по олимпийской системе соревнований «на вылет». При этом с самой
  ранней стадии стартуют команды, не участвующие в лигах Ассоциации, а также участники
  Первой лиги.<br>
  8.5. Матчи проводятся в сроки, установленные календарем. Отклонение от установленных
  сроков допускается по соглашению сторон, при этом матч должен быть сыгран не позднее
  24-х часов до жеребьевки следующей стадии Кубка или до старта следующей стадии Кубка.<br>
  8.6. Команды Высшей лиги начинают своё участие в Кубке со стадии 1/16 финала.<br>
  8.7. Перед каждой стадией предусмотрена жеребьевка. Посевной принцип применяется на
  стадии, определяемой информационной картой.<br>
  8.8. Жеребьевка каждой стадии проходит не менее чем за 2 дня до проведения первого
  матча стадии. Она носит публичный характер и обеспечивается видео-съемкой.<br>
  8.9. Победитель каждой пары определяется в одном матче. Ответные матчи могут быть
  предусмотрены с определенной стадии, о чем указывается перед стартом турнира в
  информационной карте.<br>
  8.10. В случае ничьей овертайм не назначается — команды переходят к исполнению
  послематчевых пенальти. Команды совершают по три удара с 6-тиметровой отметки. В
  случае равенства назначаются дополнительные удары. Право исполнения дополнительных
  ударов с каждой стороны может быть доверено одному и тому же игроку.<br>
  8.11. Финал проходит на нейтральном поле, выбираемом руководством Ассоциации.
  Организация финала, в т.ч. оплата аренды площадки, лежит на руководстве АДФС.<br>
</div>
<div class="chapter">9. Зимний кубок Ассоциации.</div>
  <div class="chapter-content">
  9.1. Право принять участие в Зимнем кубке АДФС имеют любые команды.<br>
  9.2. Количество участников не должно превышать 24. Изменение данного числа в сторону
  увеличения возможно в информационной карте.<br>
  9.3. В случае проведения турнира из 24-х участников формат имеет следующий вид:<br>
  9.3.1. Команды делятся на 4 группы по 6 команд в каждой.<br>
  9.3.2. Команды, занявшие с 1 по 4 места в группах, проходят в 1/8 финала.<br>
  9.4. При равенстве очков применяются правила, предусмотренные разделом 6.1.<br>
  9.5. Победитель в плей-офф определяется по сумме 2-х матчей. Правило «гостевого гола» не
  действует. В случае равенства по сумме двух матчей овертайм не назначается — команды
  переходят к исполнению послематчевых пенальти. Команды совершают по три удара с 6-
  тиметровой отметки. В случае ничьей назначаются дополнительные удары. Право
  исполнения дополнительных ударов с каждой стороны может быть доверено одному и тому
  же игроку.<br>
  9.6. Все матчи зимнего кубка играются согласно минифутбольным правилам FIFA в закрытых
  помещениях с некоторыми изъятиями и в зависимости от наличия судейства.<br>
  9.7. Хронометраж: 50 (± 10 мин)<br>
  9.8. Опоздание одной из команд на 15 и более минут наказывается техническим
  поражением. Прибывшая вовремя команда вправе согласиться на проведение матча при
  опоздании другой команды на 15 и более минут.<br>
  9.9. Формат судейства определяется командами перед матчем.<br>
  9.10. На площадках, размер которых составляет менее 33 метров в длину и 16 метров в
  ширину не действует правило об ограничении в количестве касаний мяча вратарем после
  ввода мяча в игру.<br>
  9.11. Организация финального матча зимнего кубка лежит на руководстве Ассоциации.<br>
  9.1. Порядок согласования проведения матчей.<br>
  9.1.1. Принимающая команда обязана предоставить помещение (зал) для игры, гостевая
  команда обязана оплатить аренду зала в размере 50 % от стоимости аренды, остальные 50 %
  оплачивает принимающая команда, при условии получения от гостевой команды
  предварительного согласия на оплату аренды.<br>
  9.1.2. Гостевая команда обязана принять предложение принимающей команды о
  проведении очного матча с условием, что он состоится в любое время с 14-00 до 23-00
  субботы и с 09-00 до 23-00 воскресенья.<br>
  9.1.3. Принимающая команда обязана принять предложение гостевой команды в случае
  отсутствия своего предложения.<br>
  9.1.4. Срок для направления предложения: не менее, чем за 30 часов до проведения матча, в
  противном случае право делать предложение передается другой стороне.<br>
  9.1.5. Срок для принятия предложения: не более 15 часов после получения предложения.<br>
  9.1.6. Отправка sms-сообщения на мобильный номер одного из двух представителей,
  указанный в заявке команды, со статусом «доставлено» считается надлежащим
  доказательством направления предложения и его принятия адресатом к рассмотрению. С
  момента получения уведомления о получении sms-сообщения с предложением начинает
  исчисляться срок, указанный в п. 5.<br>
  9.1.7. Отправка предложения одному из двух представителей другой команды посредством
  сайта vk.com по умолчанию считается надлежащим доказательством направления
  предложения и его принятия адресатом к рассмотрению по истечении 12 часов с момента
  отправки.<br>
  9.1.8. Правило, предусмотренное п. 9.1.7., в т.ч. распространяется на сообщение,
  оставленное на стене группы АДФС в vk.com.<br>
  9.1.9. О каждом матче команды обязаны сообщить в теме «запланированные матчи»
  минимум за 3 часа до игры.<br>
  9.1.10. Обязательно фотографирование обеих команд (т.е. на одном фото должны быть
  запечатлены две команды) или производство 3-5 минутного видео-ролика с каждого матча.
  Данные требования направлены на недопущение росписи результата на бумаге!<br>
</div>
<div class="chapter">10. Штрафные санкции игрокам и командам АДФС.</div>
<div class="chapter-content">
  10.1. За нарушение различных правил настоящего регламента и издаваемых в соответствие и
  в дополнение к нему локальных актов предусмотрены следующие виды наказаний, носящих
  персональный и коллективный характер:<br>
  10.1.1. Лишение гаранта.<br>
  10.1.2. Обязывание команды возместить издержки (частично или полностью).<br>
  10.1.3. Дисквалификация игрока на срок от одного до двенадцати месяцев. В
  исключительных случаях срок дисквалификации может составить три года.<br>
  10.1.4. Дисквалификация команды на один год или на срок продолжительности турнира.<br>
  10.1.5. Снятие очков.<br>
  10.1.6. Списание 50 % результативных баллов в личной статистике.<br>
  10.1.7. Присуждение технического поражения.<br>
  10.1.8. Признание результата матча недействительным без права переигровки.<br>
  10.1.9. Блокировка или исключение из числа участников группы АДФС в vk.com.<br>
  10.2. Порядок применения наказания:<br>
  10.2.1. Команда утрачивает право на возврат гаранта при наличии определенного количества
  технических поражений и (или) матчей без результата, в случае досрочного снятия с турнира
  (добровольного или принудительного), иных оснований, предусмотренных настоящим
  Регламентом и информационной картой.<br>
  10.2.2. Обязанность возмещения издержек другой команды возникает о команды-
  нарушительницы в следующем случае: принимающая команда оплатила аренду площадки в
  100 % размере для организации матча, время и место проведения которого было заранее
  согласовано с соперником, однако соперник не прибыл на матч. При этом принимающая
  команда обязана доказать факт оплаты аренды в соответствующем размере. Команда-
  нарушительница обязуется в течение 7-ми дней передать принимающей команде денежные
  средства в размере не менее 70 % от суммы, которая составляла бы ее долю при оплате
  аренды площадки. В случае стоимости аренды площадки менее 1000 рублей в час команда-
  нарушительница обязуется в течение 7-ми дней передать принимающей команде денежные
  средства в размере не менее 100 % от суммы, которая составляла бы ее долю при оплате
  аренды площадки.<br>
  10.2.3. Наказание, предусмотренное п. 10.1.3., применяется к игроку в случае совершения им
  проступка, выраженного в неспортивном поведении и грубом нарушении регламента.<br>
  10.2.4. Наказание, предусмотренное п. 10.1.3., применяется к игроку в случае указания
  ложных сведений о количестве забитых им голов, если это существенным образом влияет на
  положение этого игрока в таблице бомбардиров. Альтернативное наказание — п. 10.1.6.<br>
  10.2.5. Наказание, предусмотренное п. 10.1.3., применяется к игроку в случае введения им в
  заблуждение Администрации путем дачи согласия двум и более командам на включение его
  в заявочный лист.<br>
  10.2.6. Наказание, предусмотренное п. 10.1.4., применяется к команде в случае грубого
  нарушения регламента и локальных актов, неспортивного поведения и введения в
  заблуждение Администрации путем подачи заведомо ложных сведений в заявочный лист и
  специальную тему в группе АДФС в vk.com., посвященную статистике.<br>
  10.2.7. Наказание, предусмотренное п. 10.1.5., применяется к команде в случае грубого
  нарушения регламента по усмотрению Администрации.<br>
  10.2.8. Наказание, предусмотренное п. 10.1.7., применяется к команде в случае неприбытия
  на матч, для проведения которого приняты все меры, предусмотренные разделом 2 и 9.1., в
  случае задействования в матче незаявленного игрока, в иных случаях, предусмотренных
  регламентом и информационной картой.<br>
  10.2.9. Наказание, предусмотренное п. 10.1.8., применяется к командам в случаях,
  предусмотренных регламентом и информационной картой.<br>
  10.2.10. Наказание, предусмотренное п. 10.1.9., применяется к игроку (иному участнику) в
  случаях проявления явного неуважения к другим участникам, Администрации, с
  использованием ненормативной лексики, угрозой применения насилия, оскорбления по
  национальному, религиозному, расовому признаку, в случаях ведения диалога в спорных
  ситуациях без направленности на конструктив, в случае огульной и необоснованной критики
  мероприятий, реализация которых пользуется одобрением со стороны большинства
  участников Ассоциации, в той или иной форме проявляющих свое участие в отношении
  мероприятий.<br>
  10.3. Администрация ведет Реестр недобросовестных участников, в который включаются
  игроки, по тем или иным причинам отстраненные от участия в турнирах под эгидой АДФС на
  длительные (свыше полугода) сроки.<br>
</div>
<div class="chapter">11. Дополнения и пояснения к регламенту.</div>
<div class="chapter-content">
  11.1. В дополнение к регламенту Администрация издает локальные акты: информационные
  карты, имеющие табличный вид; уведомления и распоряжения, оформленные в виде
  информационных сообщений на стене группы АДФС в vk.com.<br>
  11.2. При разрешении спорных ситуаций и невозможности использования регламента или
  любого иного действующего акта Администрация принимает решение, основываясь на
  своем внутреннем убеждении и принципах разумности и справедливости.<br>
  11.3. Изменение и дополнение отдельных положений регламента производится
  Администрацией путем внесения поправок с обязательным уведомлением участников о сути
  и содержании вносимых изменений и дополнений. В законную силу поправки вступают по
  истечении 30-ти календарных дней со дня их принятия, если иной срок не установлен
  локальным актом.<br>
</div>
<div class="bottom">
Главный администратор
«01» апреля 2017 г.
</div>
</div>
{% endblock %}
