{% extends "base.html" %}

{% block content %}
  <ul class="breadcrumb">
    <li><a href="{% url 'teamlogic_main' %}"> АДФС </a> <span class="divider"></span></li>
    <li><a href="{% url 'allcups' %}"> Кубки </a> <span class="divider"></span></li>
    <li><a href="#"> {{ cup }}  </a> <span class="divider"></span></li>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/antd/2.13.9/antd.css" rel="stylesheet">
  </ul>
  <style>
      .example {
      text-align: center;
      background: rgba(0,0,0,0.05);
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 30px 50px;
      margin: 20px 0;
    }
  </style>
  <h1> {{ cup }} </h1>
  <div id="current_cup">
  </div>
{% endblock %}
