{% extends "base.html" %}
{% load thumbnail %}
{% block content %}

  <ul class="breadcrumb">
    <li><a href="{% url 'teamlogic_main' %}"> АДФС </a> <span class="divider"></span></li>
    <li><a href="#"> Кубки </a> <span class="divider"></span></li>
  </ul>

  <h2> Кубки </h2>
  <div class="list-objects">
    {% for cup in cups %}
      <div class="col-md-12">
        <div class="row team-wrapper">
          <div class="col-md-1">
            {% thumbnail cup.image "64x64" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="media-object" float="left">
            {% endthumbnail %}
          </div>
          <div class="col-md-6">
            <br> <strong> <a href="{{cup.get_absolute_url}}"> {{ cup }} </a> </strong>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
