{% load staticfiles %}

<ul class="breadcrumb">
    <li><a href="#"> АДФС </a> <span class="divider"></span></li>
</ul>

<h2> Сегодня в АДФС </h2>
<div class="col-md-12 current-matches">

</div>
<h2> База данных АДФС </h2>
<div class="col-sm-6 col-xs-12 content-container">
  <img class="content-icon" src="{% static "images/logic/stadions.png" %}">
    <div class="content-logic"> 
      <h3> Где поиграть? </h3>
      <span><a href="{% url 'stadions' %}">Стадионы и площадки Саратова и Энгельса</a></span>
    </div>
</div>
<div class="col-sm-6 col-xs-12 content-container">
  <img class="content-icon" src="{% static "images/logic/players.png" %}">
  <div class="content-logic">
    <h3> С кем поиграть? </h3>
    <span><a href="{% url 'players' %}"> Футболисты - свободные игроки</a></span>
  </div>
</div>
<div class="col-sm-6 col-xs-12 content-container">
  <img class="content-icon" src="{% static "images/logic/teams.png" %}">
  <div class="content-logic">
    <h3> Против кого поиграть? </h3>
    <span><a href="{% url 'teams' %}"> Команды АДФС </a></span>
  </div>
</div>
<div class="col-sm-6 col-xs-12 content-container">
  <img class="content-icon" src="{% static "images/logic/leagues.png" %}">
  <div class="content-logic">
    <h3> На что посмотреть? </h3>
    <span><a href="{% url 'matches' %}"> Не пропустите финал кубка АДФС</a></span>
  </div>
</div>
<div class="col-sm-6 col-xs-12 content-container">
  <img class="content-icon" src="{% static "images/logic/matches.png" %}">
  <div class="content-logic">
    <h3> Куда заявиться? </h3>
    <span><a href="{% url 'allleague' %}">Актуальные турниры АДФС</a></span>
  </div>
</div>
