{% extends "base.html" %}

{% block content %}

  <ul class="breadcrumb">
    <li><a href="#"> АДФС </a> <span class="divider"></span></li>
    <li><a href="#"> Матчи </a> <span class="divider"></span></li>
  </ul>

  {% for match in matches %}
    <div class="media">
      <div class="media-body">
        <div class="col-xs-3">
          <a href="{{match.home.get_absolute_url}}">{{ match.home }}</a>
        </div>
        <div class="col-xs-2">
          <a href="{{match.get_absolute_url}}">{{ match.home_goal }}:{{ match.away_goal }}</a>
        </div>
        <div class="col-xs-3">
          <a href="{{match.away.get_absolute_url}}">{{ match.away }}</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
