{% extends "base.html" %}

{% block content %}

    <style type="text/css">
        img {
            float:left;
            height: auto;
            width: 200px;
        }
        #info {
            position: relative;
            left: 5px;
        }
    </style>

        <ul class="breadcrumb">
        <li><a href="#"> АДФС </a> <span class="divider"></span></li>
        <li><a href="#"> Игроки </a> <span class="divider"></span></li>
        <li><a href="#"> {{ player.firstName }}  {{ player.lastName }}  </a> <span class="divider"></span></li>
    </ul>

    <h1> {{ player.firstName }}  {{ player.lastName }} </h1>

    <img src="{{ player.image.url }}" class="img-polaroid" float="left">

    <div id="info">
      <strong> Родился: </strong> {{ player.birth }}
      <br>
      <strong> Профиль в вк: </strong> <a href="vk.com/"{{ player.vk_link }}> {{ player.vk_link }} </a>
      <br>
      <strong> Игровая позиция:</strong>
      {% if player.basePosition == 'G' %}
          <span class="badge badge-warning">GK</span>  вратарь
      {% endif %}

      {% if player.basePosition == 'H' %}
          <span class="badge badge-warning">DF</span> защитник
      {% endif %}
      {% if player.basePosition == 'F' %}
          <span class="badge badge-warning">FRW</span> нападающий
      {% endif %}

      <table class="table table-striped">
          <caption> <strong> История выступлений: </strong></caption>
          <thead>
          <tr>
              <th>Команда</th>
              <th>Дата подписания:</th>
              <th>Дата отзаявки:</th>
          </tr>
          </thead>
          <tbody>
          {% for foo in player.recofteam_set.all %}
              <tr>
                  <td> <a href = '{{ foo.team.get_absolute_url}}'>{{ foo.team }}</a> </td>
                  <td> {{ foo.beginDate }}</td>
                  <td> {{ foo.get_end_date }}</td>
              </tr>
          {% endfor %}

          </tbody>
      </table>
    </div>

{% endblock %}
