{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
    <ul class="breadcrumb">
      <li><a href="{% url 'teamlogic_main' %}"> АДФС </a> <span class="divider"></span></li>
      <li><a href="#"> Стадионы и площадки </a> <span class="divider"></span></li>
    </ul>

    <h2> Стадионы </h2>
    <div class="list-objects">
    {% for stadion in object_list %}
        <div class="team-wrapper item-wrapper">
          <div class="col-md-1" style="float: left;">
            {% thumbnail stadion.image "64x64" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="media-object" float="left" style="display: block;">
            {% endthumbnail %}
          </div>
          <div style="float: right;">
            <strong> <a href="{{stadion.get_absolute_url}}"> {{ stadion }} </a> </strong>
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
