{% extends "base.html" %}
{% load thumbnail %}
{% block content %}

    <style type="text/css">
        img {
            float:left;
            height: auto;
            width: 200px;
        }
        #info {
            position: relative;
            left: 5px;
        }
    </style>


    <h1> <i class="icon-search"></i> {{ stadion.name }}  </h1>

    {% thumbnail stadion.image "230x230" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-polaroid">
    {% endthumbnail %}


    <div id="info">
      <strong>  Город: </strong> {{ stadion.city }}
      <br>
      <strong>  Аккредитован администрацией: </strong> <a href="vk.com/"> да </a>
      <br>
      <strong>  Покрытие:</strong> травяное
      <br>
      <strong> Оценка: </strong> 4
      <br>
      <strong> Домашние команды: </strong>
      {% for team in stadion.home.all %}
          <a href="{{ team.get_absolute_url }}"> {{ team }} </a>
      {% endfor %}
    </div>
    <h3> Описание </h3>
    {{ stadion.description }}

{% endblock %}
