{% load thumbnail %}
{% load teamlogic_tags %}
<ul class="breadcrumb">
        <li><a href="{% url 'teamlogic_main' %}"> АДФС </a> <span class="divider"></span></li>
        <li><a href="#"> Команды </a> <span class="divider"></span></li>

</ul>

<h2> Команды </h2>
<div class="list-objects">
  {% for team in object_list %}
    <div class="col-md-12">
        <div class="row team-wrapper">
          <div>
          {% thumbnail team.image "64x64" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="media-object" float="left">
          {% endthumbnail %}
          </div>
          <div>
            <div class="media-body">
              <h5 class="media-title"><strong> <a href="{{team.get_absolute_url}}"> {{team}} </a> </strong></h5>
            </div>
          </div>
        </div>
    </div>
  {% endfor %}
</div>
{% pager %}
