{% load thumbnail %}

<ul class="breadcrumb">
  <li><a href="{% url 'teamlogic_main' %}"> АДФС </a> <span class="divider"></span></li>
  <li><a href="{% url 'teams' %}"> Команды </a> <span class="divider"></span></li>
  <li><a href="{{ team.get_absolute_url }}"> {{ team.name }}  </a> <span class="divider"></span></li>
</ul>

<h1> {{ team.name }} </h1>

{% thumbnail team.image "230x230" crop="center" as im %}
   <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-polaroid" float="left" id="avatar">
{% endthumbnail %}

<div id="info">
    <strong> Год основания: </strong> {{ team.foundation }}
    <br>
    <strong> Страница команды в вк: </strong> <a href="vk.com/{{ team.vkLink }}"> {{ team.vkLink }} </a>
    <br>
    <strong> Капитан:</strong> <a href="{{ team.captain.get_absolute_url }}">{{ team.captain }}</a>
    <br>
    <strong> Домашнее поле: </strong> <a href="{{ team.home.get_absolute_url }}"> {{team.home}} </a>
    <br>
    <strong> Матчи: </strong> <a href="matches/"> все матчи </a>

    <div class="scores">
        {% if last_match %}
          <div class="score-block">
              <a href="http://www.sports.ru/stat/football/693/match/1028671.html">
                  <div class="score score-green">
                      <span> {{ last_match.home_goal }} </span>
                      <span> {{ last_match.away_goal }} </span>
                  </div>
              </a>

              <div class="score-descr">
                  <div class="commands">
                      <i class="flag-s flag-1340" title="{{ last_match.home }}" alt="{{ last_match.home }}"></i>&nbsp;<a
                          href="{{ last_match.home.get_absolute_url }}">{{ last_match.home }}</a>
                      &nbsp;–&nbsp;
                      <i class="flag-s flag-1357" title="Перу" alt="{{ last_match.away }}"></i>&nbsp;<a
                          href="{{ last_match.away.get_absolute_url }}">{{ last_match.away }}</a>
                  </div>
                  {{last_match.date_time}} <a href="{{ last_match.league.get_absolute_url }}"> {{ last_match.league }} </a> <span
                      class="sp">|</span>
                  Завершен
              </div>
          </div>
        {% endif %}
        {% if next_match %}
          <div class="score-block">
              <a href="http://www.sports.ru/copa-america/team-chile-team-argentina/04-07-2015/">
                  <div class="score score-gray">
                      <span>–</span>
                      <span>–</span>
                  </div>
              </a>

              <div class="score-descr">
                  <div class="commands">
                      <i class="flag-s flag-1340" title="{{ next_match.home }}" alt="{{ next_match.home }}"></i>&nbsp;<a
                          href="{{ next_match.home.get_absolute_url }}">{{ next_match.home }}</a>
                      &nbsp;–&nbsp;
                      <i class="flag-s flag-1332" title="{{ next_match.away }}" alt="{{ next_match.away }}"></i>&nbsp;<a
                          href="{{ next_match.away.get_absolute_url }}">{{ next_match.away }}</a>
                  </div>
                  {{ next_match.date_time }} <a href="{{ next_match.league.get_absolute_url }}">{{ next_match.league }}</a> <span
                      class="sp">|</span>
                  Не начался
              </div>
          </div>
        {% endif %}
    </div>
</div>

<br>

<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#home" data-toggle="tab">Актуальный состав</a></li>
    <li><a href="#messages" data-toggle="tab">Выступления в турнирах</a></li>
    <li><a href="#settings" data-toggle="tab">Архив составов</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home">
        <div class="tab-pane" id="profile">
            <table class="table table-striped">
                <caption><strong> Состав команды: </strong></caption>
                <thead>
                <tr>
                    <th>Игрок</th>
                    <th>№</th>
                    <th>Амплуа</th>
                    <th>Дата подписания:</th>
                </tr>
                </thead>
                <tbody>
                {% for foo in team.recofteam_set.all %}
                    {% if  foo.endDate.year >= nows.year %}
                        {% if foo.endDate.mounth >= nows.mounth %}
                            {% if foo.endDate.day >= nows.day %}
                                <tr>
                                    <td><a href="{{ foo.player.get_absolute_url }}">{{ foo.player }}</a></td>
                                    <td> {{ foo.number }}</td>
                                    <td>
                                        {% if foo.player.basePosition == 'G' %}
                                            <span class="badge badge-warning">GK</span>  вратарь
                                        {% endif %}

                                        {% if foo.player.basePosition == 'H' %}
                                            <span class="badge badge-warning">DF</span> защитник
                                        {% endif %}
                                        {% if foo.player.basePosition == 'F' %}
                                            <span class="badge badge-warning">FRW</span> нападающий
                                        {% endif %}
                                    </td>
                                    <td> {{ foo.beginDate }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane" id="messages"> Сообщалики</div>
    <div class="tab-pane" id="settings">

    <label class="radio-inline">
<input type="radio" name="inlineRadioOptions" id="radio1" value="option1"> Список заигранных игроков
</label>
<label class="radio-inline">
<input type="radio" name="inlineRadioOptions" id="radio2" value="option2"> Состав команды в сезоне:
</label>

        <table class="table table-striped">
            <caption><strong> Состав команды: </strong></caption>
            <thead>
            <tr>
                <th>Игрок</th>
                <th>№</th>
                <th>Амплуа</th>
                <th>Дата подписания:</th>
                <th>Дата отзаявки:</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in team.recofteam_set.all %}
                <tr>
                    <td><a href="{{ foo.player.get_absolute_url }}">{{ foo.player }}</a></td>
                    <td> {{ foo.number }}</td>
                    <td>
                        {% if foo.player.basePosition == 'G' %}
                            <span class="badge badge-warning">GK</span>  вратарь
                        {% endif %}

                        {% if foo.player.basePosition == 'H' %}
                            <span class="badge badge-warning">DF</span> защитник
                        {% endif %}
                        {% if foo.player.basePosition == 'F' %}
                            <span class="badge badge-warning">FRW</span> нападающий
                        {% endif %}
                    </td>
                    <td> {{ foo.beginDate }}</td>
                    <td> {{ foo.get_end_date }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
      </div>
</div>

<script>
    $(function () {
        $('#myTab a:last').tab('show')
    })
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        e.target // activated tab
        e.relatedTarget // previous tab
    })


</script>
