{% extends "base.html" %}
{% load teamlogic_tags %}
{% load thumbnail %}
{% block content %}
  <ul class="breadcrumb">
          <li><a href="{% url 'teamlogic_main' %}"> АДФС </a> <span class="divider"></span></li>
          <li><a href="#"> Команды </a> <span class="divider"></span></li>

  </ul>

  <h2> Команды </h2>
  <div class="list-objects">
    {% for team in object_list %}
          <div class="team-wrapper item-wrapper">
            <div class="col-md-1" style="float: left;">
            {% thumbnail team.image "64x64" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="media-object" float="left">
            {% endthumbnail %}
            </div>
            <div style="float: right;">
              <div class="media-body">
                <h5 class="media-title"><strong> <a href="{{team.get_absolute_url}}"> {{team}} </a> </strong></h5>
              </div>
            </div>
          </div>
    {% endfor %}
  </div>
  {% pager %}

{% endblock %}
